{% extends "base.html" %}

{% block content %}
<h1>About This Project</h1>
<p>
    This project explains the mathematical and computational ideas
    found in Pingala’s Chandaḥśāstra.
</p>

<h3>References</h3>

<div class="alert alert-secondary">

    This web application is an independent educational project.
    The explanations, visualizations, and implementations are created
    for learning purposes and are not an official IIT Kanpur product.

</div>

<ul>
    <li>
        Pingala's Chandaḥśāstra
    </li>

    <li>
        Lecture by Prof. Arnab Bhattacharya, IIT Kanpur
    </li>

    <li>
        Halāyudha's commentary on Chandaḥśāstra
    </li>

    <li>
        Modern studies on binary systems and combinatorics in Sanskrit prosody
    </li>
</ul>

{% endblock %}