{% extends "base.html" %}

{% block content %}
<h1>About This Project</h1>
<p>
    This project explains the mathematical and computational ideas
    found in Pingala’s Chandaḥśāstra.
</p>

<!-- <div class="alert alert-secondary">

    This web application is an independent educational project.
    The explanations, visualizations, and implementations are created
    for learning purposes and are not an official IIT Kanpur product.

</div> -->

<h3>Primary Reference</h3>

    <p>
        This project is inspired by the academic lecture:
    </p>

    <blockquote class="blockquote">
        The Art and Science of Sanskrit Chandas:
        Origins of Binary System and Combinatorics
    </blockquote>

    <p>
        Speaker:
        <strong>Prof. Arnab Bhattacharya</strong><br>
        Department of Computer Science and Engineering<br>
        IIT Kanpur
    </p>

<a
        href="https://youtu.be/KvDMO2y3Y2s"
        target="_blank"
        class="btn btn-primary">

        Watch Original Lecture
</a>

{% endblock %}