<!DOCTYPE html>
<html>
<head>
    <title>Pingala Chandas Explorer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Pingala Chandas Explorer</a>

        <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/learn-chandas">Learn Chandas</a>
            <a class="nav-link" href="/lecture-interpretation">Lecture Notes</a>
            <a class="nav-link" href="/sutra-details">Sūtra Details</a>
            <a class="nav-link" href="/prastara">Prastāra</a>
            <a class="nav-link" href="/nasta">Naṣṭa</a>
            <a class="nav-link" href="/uddista">Uddiṣṭa</a>
            <a class="nav-link" href="/sankhya">Saṁkhyāna</a>
            <a class="nav-link" href="/adhvayoga">Adhvayōga</a>
            <a class="nav-link" href="/meru">Lagakriyā</a>
            <a class="nav-link" href="/matra-chandas">Mātrā Chandaḥ</a>
            <a class="nav-link" href="/about">About</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>